.static {
    position: absolute;
    bottom: 29px;
    right: 49px;

    z-index: 999;

    padding: 8px;
    border-radius: 8px;

    min-width: 250px;
}

.data {
    color: var(--white);
    background-color: var(--secondary-teal);
}

.noData {
    color: var(--black);
    background-color: var(--white);

    font-weight: bold;
    max-width: 290px;
}

.statePopupHeaderWrapper {
    display: flex;
    align-items: center;
}

.schoolDistrictPopupHeaderWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.schoolDistrictPopupHeaderWrapper > *:first-child {
    font-weight: bold;
    margin-right: 8px;
}

.infoPanelOpen {
    right: 572px;
}

@media screen and (max-width: 1100px) {
    .static {
        display: none;
    }
}
