.logoWrapper {
    width: 170px;

    position: absolute;
    bottom: 66px;
    left: 11px;

    z-index: 1;
}

.outer {
    background-color: #ffffffef;
    border-radius: 8px;
    padding: 4px;
}

.indicator {
    border: 1px solid var(--gray-one);

    padding: 4px;
    border-radius: 8px;
}

.infoPanelOpen {
    right: 572px;
}

.image {
    width: 150px;
    height: auto;
}

@media screen and (max-width: 1100px) {
    .logoWrapper {
        width: unset;
        position: relative;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: var(--white);
        border-top: 1px solid var(--gray-one);
    }

    .infoPanelOpen {
        right: 0;
    }

    .outer {
        background-color: unset;
        border-radius: unset;
        padding: 0;
    }

    .indicator {
        border: unset;
        border-radius: unset;
        padding: 8px;

        width: 100%;
        display: flex;
        justify-content: center;
    }
}
