.logoWrapper {
    width: 190px;

    position: absolute;
    bottom: 0px;
    left: 104px;

    z-index: 1;
}

.infoPanelOpen {
    right: 572px;
}

.image {
    width: 170px;
    height: auto;
}

@media screen and (max-width: 1100px) {
    .logoWrapper {
        width: unset;
        position: relative;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: var(--white);
        border-top: 1px solid var(--gray-one);
    }

    .image {
        width: 150px;
    }

    .infoPanelOpen {
        right: 0;
    }

    .indicator {
        border: unset;
        border-radius: unset;
        padding: 8px;

        width: 100%;
        display: flex;
        justify-content: center;
    }
}
