.logoWrapper {
    position: absolute;
    bottom: 29px;
    right: 49px;

    z-index: 1;
}

.outer {
    background-color: #ffffffef;
    border-radius: 8px;
    padding: 4px;
}

.indicator {
    border: 1px solid var(--gray-one);

    padding: 4px;
    border-radius: 8px;
}

.infoPanelOpen {
    right: 572px;
}

.image {
    width: 150px;
    height: auto;
}
