.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: var(--white);
    border-bottom: 1px solid var(--gray-one);
    padding: 8px;
}

.image {
    width: 150px;
    height: auto;
}

.headerWrapper > h1 {
    margin-left: 16px;
    color: var(--black);
}

@media screen and (max-width: 530px) {
    .headerWrapper > h1 {
        font-size: 1.35rem;
    }
}
